body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;

  --bg-color: #a3be8c;
  --text-color-dark: #ebcb8b;
  --text-color: #f6ebd4;
  --highlight-color: #d87f32;
  --error-color: #c44141;
}

.settings-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.settings {
  .chart-interval {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .add-data {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    .form {
      display: flex;
    }
  }
}
